/* GENERAL */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f7f7fb;
  color: #222;
  line-height: 1.6;
}

html {
  scroll-behavior: smooth;
}

p {
  color: #666;
  margin-bottom: 1rem;
}

